body {background:url(img/Astronauts_Lunar_Surface.jpg)no-repeat;
    background-size: cover;}
        ul li {width: 80px;
            float: right;
        text-align: center;
    border: 1px solid white;
background-color :#415fa7;
opacity: 0.8;
font-family: Arial, Helvetica, sans-serif;
padding: 7px;
margin-right: 4px;}
ul li a {text-decoration: none; color: white;}
.text {background-color: green;}
ul li:hover{background-color: green;}
h3 {position: absolute;
left:10% ;
top:20%;
color:whitesmoke;
font-size:50px;
font-family: arial;
text-shadow: 1px 1px 1px;}

h2 {position:absolute;
    left:10%;
    top:35%; color: whitesmoke;
    font-family: arial; font-size: 14px; background-color: #415fa7;
}

.txt {position: absolute;
left:10%;
top:66%; width: 500px;font-family: arial; color: whitesmoke;text-shadow: 1px 1px 1px;}

.list {position: absolute;right:6%;top:66%;  }
.list h4 a {color: whitesmoke;font-family: arial;text-decoration: none;}
.list h4 a:hover {color:#415fa7}
        